In [35]:
import pandas as pd
pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
pd.__version__

'2.3.2'

In [36]:
data = pd.read_csv('car_fuel_efficiency.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [37]:
data.fuel_type.unique(), data['fuel_type'].unique().size

(array(['Gasoline', 'Diesel'], dtype=object), 2)

In [38]:
data.fuel_type.describe()

count         9704
unique           2
top       Gasoline
freq          4898
Name: fuel_type, dtype: object

In [39]:
data.isnull().any().sum()

np.int64(4)

In [40]:
data[data['origin'].isin(['Asia'])]['fuel_efficiency_mpg'].max(), data[data['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

(23.759122836520497, 23.759122836520497)

In [41]:
md_before = data['horsepower'].median()
md_before

149.0

In [42]:
data['horsepower'] = data['horsepower'].fillna(value=data['horsepower'].mode()[0])
md_after = data['horsepower'].median()
md_after

152.0

In [43]:
md_after - md_before

3.0

In [44]:
X = data.loc[data['origin'] == 'Asia', ['vehicle_weight', 'model_year']].head(7)
X

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [45]:
import numpy as np
from numpy.linalg import inv

X = np.array(X)
XT = np.transpose(X)
XTX = XT.dot(X)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

inv(XTX).dot(XT).dot(y).sum()

np.float64(0.5187709081074008)